body {
    min-height: 100vh;
    background: linear-gradient(#F2A2B5, #FFD7C0);
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.llm-prompt-form {
    background-color: white;
    border-radius: 1.3rem;
    padding-left: 3rem;
    padding-right: 2.9rem;
    box-shadow: 0 0.1rem 0.3rem #A3586B;
}

.question {
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}

.seventh-row {
    padding-bottom: 1.9rem;
}

hr {
    border: none;
    background-color: #3E2622;
    height: 0.05rem;
}

.first-row, .second-row, .third-row, .fourth-row {
    display: flex;
    flex-direction: row;
}

.genres, .number-of-recommendations, .book-type, .age-group, .languages, .length {
    display: flex;
    flex-direction: column;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row, .sixth-row {
    padding-bottom: 1.5rem;
}

.what-kind-of-book {
    font-family: 'Karla';
    color: #3E2622;
    src: url('../fonts/Karla-Bold.ttf');
}

.genre-label, .recommendations-label, .age-group-label, .label-length, .author-label, .language-label, .accessibility-label, .description-label, .similar-books-label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #3E2622;
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.ttf');
}

.description-input, .similar-books-input {
    font-size: 0.9rem;
    font-family: 'Karla';
    src: url('../fonts/Karla-Bold.ttf');
}

.genres, .age-group, .languages {
    padding-right: 1.85rem;
}

select, .author-input {
    width: 100%;
    max-width: 20rem;
    padding: 0.3rem;
}

.dropdown {
    width: 100%;
    max-width: 20rem;
}

label {
    display: inline-block;
    width: 14rem;
    text-align: left;
}

.author-input {
    padding-right: 9.4rem;
}

.seventh-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: #F2A2B5;
    color: #3E2622;
    border: none;
    border-radius: 0.4rem;
    height: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: 'Karla';
    src: url('../fonts/Karla-SemiBold.ttf');
    font-size: 0.9rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* The problem is caused by too many columns in description and similar books and padding in author */

@media (max-width: 768px) {
    .llm-prompt-form {
        background-color: white;
        border-radius: 1.3rem;
    }

    label {
        width: 100%;
        display: block;
        margin-bottom: 0.3rem;
    }

    select, .author-input, .dropdown {
        max-width: 100%;
    }
}