@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    min-height: 100vh;
    background: linear-gradient(#F2A2B5, #FFD7C0);
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booki-logo {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
}

.components {
    display: flex;
    flex-direction: column;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.login-form {
    background-color: white;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-radius: 1.5rem;
    padding-bottom: 2.3rem;
    box-shadow: 0.5rem 0.5rem #A3586B;
}

.login-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #3E2622;
    font-family: 'Karla';
    font-weight: 700;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.sign-in-button {
    background-color: #F2A2B5;
    border: none;
    border-radius: 0.5rem;
    height: 2.05rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: 'Karla';
    font-weight: 600;
    font-size: medium;
    color: #000000;
}

.sign-in-button:hover {
    background-color: #f4b0c0;
}

.sign-in-button:active,
.sign-in-button:focus {
    background-color: #f4b0c0;
}

input {
    border: 1.5px solid black;
    border-radius: 20px;
}

.username {
    height: 2.4rem;
    margin-bottom: 0.7rem;
    text-indent: 0.7rem;
    font-family: 'Karla';
    font-weight: normal;
    font-size: medium;
}

.password {
    height: 2.4rem;
    margin-bottom: 0.9rem;
    text-indent: 0.7rem;
    font-family: 'Karla';
    font-weight: normal;
    font-size: medium;
}

input:focus {
    background-color: #FFFFFF;
}

.dont-have-account {
    font-size: small;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-family: 'Karla';
    font-weight: normal;
}

hr {
    border: none;
    background-color: #000000;
    height: 0.05rem;
}

.second-section {
    text-align: center;
}

.register {
    background-color: #F2A2B5;
    border: none;
    border-radius: 0.5rem;
    height: 2.05rem;
    width: 13rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Karla';
    font-weight: 600;
    font-size: medium;
    color: #000000;
}

.register:hover {
    background-color: #f4b0c0;
}

.continue-as-guest {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding-top: 0.1rem;
}

.continue-as {
    margin-right: 0.3rem;
    font-family: 'Karla';
    font-family: 'Karla';
    font-weight: normal;
}

.guest {
    text-decoration: none;
    color: #E491A6;
    font-weight: bold;
    font-family: 'Karla';
    font-weight: 700;
}

.login-error {
    color: #bf1b44;
    text-align: center;
    margin-top: -0.1rem;
    font-weight: bold;
    font-family: 'Karla';
    font-weight: 700;
}