@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    min-height: 100vh;
    background: linear-gradient(#F2A2B5, #FFD7C0);
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 1.5rem;
    padding-top: 1.45rem;
    padding-bottom: 2.3rem;
    margin-bottom: 2.3rem;
    box-shadow: 0.5rem 0.5rem #A3586B;
}

.register-form-section {
    display: flex;
    flex-direction: column;
}

.register-form-section input {
    width: 17rem;
}

.register-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #3E2622;
    font-family: 'Karla';
    font-weight: 700;
}

.register-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.register-email, .register-username {
    height: 2.4rem;
    margin-bottom: 0.7rem;
    text-indent: 0.7rem;
    color: #000000;
    font-family: 'Karla';
    font-weight: normal;
    font-size: medium;
}

.register-password {
    height: 2.4rem;
    margin-bottom: 0.9rem;
    text-indent: 0.7rem;
    font-family: 'Karla';
    font-weight: normal;
    font-size: medium;
}

.register-button {
    background-color: #F2A2B5;
    border: none;
    border-radius: 0.5rem;
    height: 2.05rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: 'Karla';
    font-weight: 600;
    font-size: medium;
    color: #000000;
}

.register-button:hover {
    background-color: #f4b0c0;
}

.register-button:active,
.register-button:focus {
    background-color: #f4b0c0;
}

.register-second-section {
    text-align: center;
}

.register-already-have-account {
    font-size: small;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-family: 'Karla';
    font-weight: normal;
}

.register-login {
    background-color: #F2A2B5;
    border: none;
    border-radius: 0.5rem;
    height: 2.05rem;
    width: 13rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Karla';
    font-weight: 600;
    font-size: medium;
    color: #000000;
}

.register-login:hover {
    background-color: #f4b0c0;
}

.register-login:active,
.register-login:focus {
    background-color: #f4b0c0;
}

.register-continue-as-guest {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding-top: 0.1rem;
}

.register-continue-as {
    margin-right: 0.3rem;
    font-family: 'Karla';
    font-weight: normal;
}

.register-guest {
    text-decoration: none;
    color: #E491A6;
    font-weight: bold;
    font-family: 'Karla';
    font-weight: 700;
}

.registration-error {
    color: #bf1b44;
    text-align: center;
    margin-top: -0.1rem;
    font-weight: bold;
    font-family: 'Karla';
    font-weight: 700;
}

.registration-success {
    color: #70ca7e;
    text-align: center;
    margin-top: -0.1rem;
    font-weight: bold;
    font-family: 'Karla';
    font-weight: 700;
}

.register-booki-logo {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.register-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .register-book, .book-image {
        display: none;
    }

    
    .register-form {
        background-color: white;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
