/* This page contains the styling for the Results Page */
@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Karla'; 
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F2A2B5, #FFD7C0);
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-page {
    width: 93vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

.results-page h1 {
    font-size: 1.5rem;
    display: flex;
}

.profile-icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
}

.profile-logo {
    padding-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    justify-content: right;
    align-items: right;
}

@media (max-width: 768px) {
    body {
        padding: 0vw;
    }

    .profile-logo {
        height: auto;
        padding-top: 2vh;
        margin: 4vw;
    }

    .bookmarks-title {
        text-align: center;
    }

    .bookmark-list {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1.5vh;
        padding-bottom: 2.3vh;
        margin-bottom: 2.5vh;
        margin-top: 2vh;
        width: 90vw;
        box-sizing: border-box;
    }

    
}